<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <app-loading *ngIf="busy"></app-loading>

  <div id="images" *ngIf="!busy">
    <div class="image" *ngFor="let post of (userPosts | async)?.posts">
      <ion-card (click)="goTo(post)">
        <ion-img src="https://ucarecdn.com/{{ post.image}}/-/crop/200x200/center/"></ion-img>
      </ion-card>
      <ion-content>
        <p>{{ post.desc }}</p>
      </ion-content>
    </div>
  </div>

</ion-content>
